<h2>Add A New Stock!</h2> 

<form class="" action="/company_stock" method="post">
    <label for="name">Name</label> 
    <input type="text" name="name" value="">
    <label for="ticker">Ticker</label>
    <input type="text" name="ticker" value="">
    <label for="description">Description</label>
    <input type="text" name="description" value="">
    <label for="price">Price</label>
    <input type="text" name="price" value="">
    <input type="submit" name="" value="Add To Portfolio"> 

</form>